.spinner {
    width: 80px;
    height: 80px;
}

.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-spinner {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px; /* Legger til litt avstand mellom spinner og tekst */
}

.loading-message {
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap; /* Holder teksten på én linje */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}